# This is a combination of 4 commits.
# This is the 1st commit message:

refactor(ui): simplify referral badge style and reduce visual weight

# This is the commit message #2:

# Please enter the commit message for your changes. Lines starting
# with '#' will be ignored, and an empty message aborts the commit.
#
# Date:      Thu Jan 8 18:32:56 2026 -0300
#
# interactive rebase in progress; onto b3d582b
# Last commands done (4 commands done):
#    squash 411a5ac refactor(ui): simplify referral badge style and reduce visual weight
#    squash 41c86c7 refactor(ui): simplify referral badge style and reduce visual weight
# No commands remaining.
# You are currently rebasing branch 'main' on 'b3d582b'.
#
# Changes to be committed:
#	modified:   index.html
#
